* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    /* background-color: #1a1a1a; */
    /* background-color: rgb(36, 21, 44); */
    color: #fff;
    /* background-color: #091f2c; */
    background-color: #1a1a1a;


}

/* _____________________nav-bar____________________ */
#nav-main{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    margin-top: 2%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #ffffff0a;
    border-radius: 10px;
    padding: 5px 20px;
}
.logo{
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    color: #05c8fe;
}
.nav-2 ul li{
    list-style: none;
}
.nav-2 ul{
    display: flex;
    gap: 24px;
}
.nav-2 ul li a{
    text-decoration: none;
    margin-left: 24px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: #F5F5F5;
    transition: .5s;
}
.nav-2 ul li:hover a,
.nav-2 ul li.active a{
    color: #7cf03d;
}

@media (max-width:380px) {
    #nav-main{
        width: 100%;
        padding: 10px;
        gap: 10px;
        border-radius: 0;
        background: none;
        margin-left: 10%;
    }
    .nav-2 ul li a{
        margin-left: 10px;
        font-weight: 400;
        font-size: 12px;
        
    }
    .logo{
        font-size: 15px;
        margin: 0;
    }
    .vis{
        display: none;
    }
    ul{
        padding-right: 20px;
    }
}

/* ______________________About___________________________ */
#about-start {
    margin-top: 2%;
    /* margin-left: 10%; */
    padding: 10px;
    position: relative;
}
.m-1{
    margin-right: 10%;
}
.about-intro {
    font-weight: 700;
    font-size: 3rem;
}
.sp-1{
    font-size: 2.5rem;
}
.about-spanI {
    font-size: 2rem;
    font-weight: 400;
    color: #1ABC9C;
}
.about-span-II {
    color: #61DAFB;
}

.about-introII {
    font-size: 18px;
    word-spacing: 4px;
    margin-top: 1%;
}
 .Resume-btn {
    padding: 9px 30px;
    margin-top: 1.9%;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 1.05rem;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(214, 30, 183, 1) 0%, rgba(173, 9, 232, 1) 35%, rgba(52, 8, 196, 1) 100%);
}  
.about-flex-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: solid white 2px; */
}
.img{
    height: 60vh;
    border: solid 2px ;
}
@media (max-width:480px) {
    .about-flex-div{
        flex-wrap: wrap;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
    }
    .about-intro{
        font-size: 2rem;
    }
    .br-1{
        display: none;
    }
    .sp-1{
        font-size: 1.5rem;
    }
    .about-spanI{
        font-size: 1rem;
    }
    .br-p{
        display: none;
    }
    .img{
        width: 240px;
        height: 300px;
        margin-top: 10%;
    }
    .Resume-btn{
        margin-top: 5%;
    }
}
/* _______________________________SKills______________________ */
#skill-main {
    width: 100%;
    margin-top: 5%;
    padding: 10px;
    margin-bottom: 3%;
    background-color: #091f2c;
}

.skill-container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 5px;

}

.skill-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.text-1 {
    font-size: 40px;
    font-weight: 700;
}

.text-2 {
    font-size: 24px;
    font-weight: lighter;
    word-spacing: 2px;
}

.img-frontend {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(7, 7, 163, 0.35) 0px 5px 15px;
    border-radius: 12px;
    border: solid 2px rgba(7, 7, 163, 0.35);
    margin-right: 2%;
    margin-top: 2%;
    background-color: #0c2136;
}

.img-container-1 {
    /* border: solid 1px white; */
    width: 540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.img-1 {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px white;
    padding: 10px 20px;
    border-radius: 10px;
    gap: 20px;
}

.img-1:hover {
    background-color: #ffffff15;
    cursor: pointer;
}

.img-1 p {
    font-size: 20px;
    font-weight: 600;
    color: #F5F5F5;
}

.skill-name-frontend {
    font-size: 30px;
    font-weight: 700;

}
/* ------------------------------------Visionary-------------------------------- */
#vision-main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  flex-direction:column;
}
.vision-container-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;
}
.vision-name{
    font-size: 40px;
    font-weight: 700;
}
.vision-contant{
    font-size: 24px;
    font-weight: lighter;
    word-spacing: 2px;
}
.vision-contain-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contant-persional{
    border-radius: 3px;
    width: 50%;
    margin: 2%;
    text-indent: 1px;
    word-spacing: 2px;
    border: solid 2px #032e58;
    padding: 1rem;
    box-shadow: rgba(7, 7, 163, 0.35) 0px 5px 15px;

}
.contant-hireme{
    border-radius: 3px;
    width: 50%;
    margin: 1%;
    word-spacing: 2px;
    border: solid 2px #032e58;
    box-shadow: rgba(7, 7, 163, 0.35) 0px 5px 15px;
    padding: 1rem;

}
.vision-1{
    font-weight: 800; 
    font-size: 24px;
}
.vision-2{
    font-weight: lighter;
}
.vision-3{
    margin-top: 2%;
}
/* ----------------------------project---------------------- */
.project-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4%;
}
.project-container-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.project-container-1-1{
    font-size: 40px;
    font-weight: 700;
}
.project-container-1-2{
    font-weight: lighter;
    margin-top: 1%;
    font-size: 20px;
}